---
layout: default
---

<div class="home">

  <h1 >Introduction </h1>


  <h1> Pages</h1>
  <p> For a more in depth analysis about each aspect of our work, click on one of the links below. </p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
